form {
	margin-bottom: '2rem';
}
input {
	padding: '0.5rem';
	border-radius: 6;

	border: 1px solid #000000;
	width: '100%';
	margin-top: '0.25rem';
	margin-bottom: '0.5rem';
}
button {
	cursor: 'pointer';
	background-color: '#4f46e5';
	color: 'white';
	border: 'none';
	padding: '0.5rem 1rem';
	border-radius: 6;
}
