input {
	padding: 0.75rem;
	border: 1px solid var(--color-border);
	border-radius: 8px;
	width: 50%;
}
.searchResults {
	display: flex;
	flex-direction: column;
	li {
		padding: 0.75rem;
		border: 1px solid var(--color-border);
		border-radius: 8px;
		width: 50%;
		background-color: white;
		display: flex;
		justify-content: space-between;
	}
}
