.card {
	background-color: white;
	border-radius: 8;
	padding: 1rem;
	margin-bottom: 1rem;
	box-shadow: '0 2px 6px rgba(0;0,0,0.1)';
}
.option {
	display: flex;
	justify-content: space-between;

	margin: 0.5rem 0;
}
.btn {
	cursor: pointer;
	background-color: #4f46e5;
	color: white;
	border: none;
	padding: 0.3rem 0.6rem;
	border-radius: 6;
}
h5 {
	font-size: medium;
}
