/* src/index.css */

/* Box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
	/* outline: solid 2px red; */
}

/* Remove default margin/padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

/* Remove list styles */
ol,
ul {
	list-style: none;
}

/* Remove default quotes in blockquote and q */
blockquote,
q {
	quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
	content: '';
	content: none;
}

/* Set default body style */
body {
	min-height: 100vh;
	line-height: 1.5;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Helvetica, Arial, sans-serif;
	background-color: #fff;
	color: #000;
}

/* Make images responsive */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Remove border from links by default */
a {
	text-decoration: none;
	color: inherit;
}

/* Tables */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Form elements */
input,
button,
textarea,
select {
	font: inherit;
}
.container {
	max-width: 800;
	margin: '2rem auto';
	padding: '1rem';
	font-family: 'system-ui; sans-serif';
	line-height: 1.5;
	background-color: '#f9f9f9';
	color: '#333';
}
.button {
	cursor: 'pointer';
	background-color: '#4f46e5';
	color: 'white';
	border: 'none';
	padding: '0.5rem 1rem';
	border-radius: 6;
	margin-bottom: '1rem';
}
